#cloud-config

manage_etc_hosts: true
users:
  - name: wonko
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/wonko
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - ${file("/home/wonko/.ssh/yubikey.pub")}
# only cert auth via ssh (console access can still login)
ssh_pwauth: false
disable_root: false
chpasswd:
  list: |
     wonko:wonko
  expire: False
#run apt upgrade
package_update: true
package_upgrade: true
#install packages
packages:
  - qemu-guest-agent
# runcmd:
#install docker in ubuntu
  # - apt update -y
  # - apt upgrade -y
write_files:
  - content: |
      The quick brown fox jumped 
      over the lazy dog
    path: /root/test.txt
# written to /var/log/cloud-init-output.log
final_message: "The system is finall up, after $UPTIME seconds"
